ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline
}
ul{ margin: 0;
    padding: 0;}

.header-line {
    border-bottom: 1px #e6e6e6 solid;
    background-color: #f6f6f6;
    height: 23px;
    padding-top: 7px;
}

.header-menue {
    height: 96px;
    background-color: #ffffff
}

.header-menue-buy {
    height: 34px;
    text-align: right;
    padding-top: 10px;
}

.header-menue-menue {
    height: 40px;
    text-align: center;
    font-size:15px;
    padding-top: 12px;
}
.aside{
    height: 230px;
    background-color: #f4f4f4;
    margin-top: 15px;
    border-bottom: 1px #eeeeee solid;

}

.main{
    height: 600px;
    background-color: #f4f4f4;
    margin-top: 15px;
}
.aside-menue{
    height: 40px;
    background-color: #68ad19;
    border-bottom: 1px #eeeeee solid;
    font-size: 18px;
    color: #ffffff;
    padding-top: 10px;

}
.aside-list{
    height:40px;
    border-bottom: 1px #eeeeee solid;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.main-title{
    height: 40px;
    font-size: 1.5em;
    padding-top: 10px;
    text-align: center;
}

.main-date{
    height: 30px;
    font-size: 1em;
    padding-top: 10px;
    text-align: center;
    color: #aaaaaa;
    border-bottom: 1px #eeeeee solid;
}

.main-content{
    font-size: 1.2em;
    padding-top: 10px;
    line-height: 2em;
    padding-left:20px;
    padding-right:10px;
}
