ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline
}
ul{ margin: 0;
    padding: 0;}

.header-line {
    border-bottom: 1px #e6e6e6 solid;
    background-color: #f6f6f6;
    height: 23px;
    padding-top: 7px;
}

.header-menue {
    height: 96px;
    background-color: #ffffff
}

.header-menue-buy {
    height: 34px;
    text-align: right;
    padding-top: 10px;
}

.header-menue-menue {
    height: 52px;
}